/* Define Base Styles*/

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

section {
    border: 1px solid black;
    position: relative;
}

p.box {
    border: 1px solid black;
    margin-right: 0px;
    margin-left: auto;
    text-align: center;
    position: relative;
    top: -17px;
    width: 100px;
}

/* Simple Responsive Framework */

.row {
    width: 100%;
}

/* Define Media Queries*/

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}